<h1>Listing books</h1>

<table id="myid">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @books.each do |book| %>
  <tr id ="<%= book.id %>">
    <td><%= book.name %></td>
    <td><%= link_to 'Show', book %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Destroy', book, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %> | <%= link_to 'Delete Book',  '#', data: {book_id: book.id}, class: 'destroy-link' %></td>
  </tr>
<% end %>
</table>

<br />

<%= form_for(@book, remote: true) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<!-- <div id ="booksList">

 </div> -->


<!-- <button id="a" onclick="return abc();">Button</button> -->

<!-- <button id="del" onclick="return delet();">Delete Button</button> -->

<%= link_to 'New Book', new_book_path %>
